@import "tailwindcss";
/* App.css */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-entry {
  opacity: 0; /* Start hidden */
  animation: fadeInUp 0.5s ease-out forwards;
}

/* Stagger delays for items */
.delay-1 { animation-delay: 0.1s; }
.delay-2 { animation-delay: 0.2s; }
.delay-3 { animation-delay: 0.3s; }