@import "tailwindcss";

@theme {
  --font-sans: "Outfit", sans-serif;
}

:root {
  font-family: 'Outfit', sans-serif;
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-200 antialiased selection:bg-blue-500/30 selection:text-blue-200;
  background: radial-gradient(circle at 50% 0%, #1e293b 0%, #020617 100%);
  min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full border-4 border-slate-950;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}